*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Animations  */

@keyframes fade-in {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes floatup {
    0% { transform: translate(0,  100px); }
    100%   { transform: translate(0, 0px); }
}

.fadein-animation{
    animation: fade-in 4s ease-in-out;
}

  .floatup-animation{  
    position: relative;
    animation: floatup 2s ease-in-out;
}


section{
    min-height: 100vh;
}

/* Fots  */

.font-anton{
    font-family: 'Anton', sans-serif;
}

.font-playfair-display{
    font-family: 'Playfair Display', serif;
}


/* Custom Styling  */

.intro-section{
    background-image: url(../includes/svg/blob.svg);
    background-size: 800px;
    background-repeat: no-repeat;
    background-position: left;
}

.intro-header-text{
    color: #242424;
}


.intro-info-div{
    font-weight: bold;
}

.intro-get-started{
    background-color: #7aadff;
    transition: all 500ms ease-in-out;
}

.intro-get-started:hover{
    background: none;
    color: #7aadff;  
    border: 1px solid #7aadff;
    transform: scale(1.12);
}

.sectiontwo{
    background-size: 600px;
}
